<div class="col-md-3">
  <div class="profile-sidebar">
                                        <!-- PORTLET MAIN -->
                                      
                                        <div class="portlet light profile-sidebar-portlet ">
                                            <!-- SIDEBAR USERPIC -->
                                            <div class="profile-userpic">
<img alt="" class="usr-pic img-responsive" src="http://wwwin.cisco.com/dir/photo/std/{{user.userId}}.jpg" /> 
 </div>
                                            <!-- END SIDEBAR USERPIC -->
                                            <!-- SIDEBAR USER TITLE -->
                                            <div class="profile-usertitle">
                                                <div class="profile-usertitle-name"> {{user.userName}} </div>
                                                <!-- <div class="profile-usertitle-job"> Admin </div> -->
                                            </div>
                                            <!-- END SIDEBAR USER TITLE -->
                                            <!-- SIDEBAR BUTTONS -->
                                           <!--  <div class="profile-userbuttons">
                                                <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                                <button type="button" class="btn btn-circle red btn-sm">Message</button>
                                            </div> -->
                                            <!-- END SIDEBAR BUTTONS -->
                                            <!-- SIDEBAR MENU -->
                                            <div class="profile-usermenu">
                                                <ul class="nav">
                                                    <li class="active">
                                                        <a ui-sref="admin.configureGroup">
                                                            <i class="icon-home"></i> Add Node </a>
                                                    </li>
                                                   <!--  <li>
                                                        <a ui-sref="admin.manageGroup">
                                                            <i class="icon-settings"></i> Add KPI </a>
                                                    </li> -->
                                                    
                                                </ul>
                                            </div>
                                            <!-- END MENU -->
                                        </div>
                                        <!-- END PORTLET MAIN -->
                                        <!-- PORTLET MAIN -->
                                        </div>
                                         </div>
                                        <div class="col-md-9">
                                        <div ui-view ></div></div>
                                       
                                        