<!-- BEGIN MAIN CONTENT -->
<div ng-controller="buildNetworkController">
	<div class="row bg-dark bg-font-dark">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="portlet solid dark">
			
				<div class="portlet-body">

					<div class="scroller" style="height: 650px">

						<cytoscape elements="data" layout="layout" styles="styles"
							on-complete="poorFunction" context-menu-commands="contextMenu"></cytoscape>
						<!-- <div id="cytoscape-navigator-container"></div> -->
					</div>
					
			</div>
			</div>
		</div>

	</div>

</div>

<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->

<!-- BEGIN MAIN JS & CSS -->